<div class="login-container">
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form (submit)="signUp()" [formGroup]="form" ngNativeValidate>
				<h1>Create Account</h1>
				<!-- <div class="social-container">
					<a href="#" class="social"><i class="fa fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fa fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fa fa-linkedin-in"></i></a>
				</div> -->
				<input type="email" placeholder="email*" formControlName="email" (blur)="validateEmail()"
					[class.required-prop]="email.touched && email.errors?.required">
				<span *ngIf="email.touched && email.invalid && email.errors?.email" class="alert-message">Please provide
					a valid email <br></span>
				<span class="alert-message" *ngIf="emailPresent">Email already exists</span>
				<input type="text" placeholder="username*" formControlName="username" (blur)="validateUser()"
					[class.required-prop]="username.touched && username.errors?.required">
				<div *ngIf="username.touched && username.invalid">
					<span *ngIf="username.errors?.cannotContainSpace"
						class="alert-message">{{username.errors.cannotContainSpace}}<br></span>
					<span *ngIf="username.errors?.minlength" class="alert-message">must contain at least 5
						characters</span>
				</div>
				<span *ngIf="userPresent" class="alert-message">Username already exists</span>

				<input type="text" placeholder="first name*" formControlName="firstname"
					[class.required-prop]="firstname.touched && firstname.errors?.required">

				<input type="text" placeholder="last name*" formControlName="lastname"
					[class.required-prop]="lastname.touched && lastname.errors?.required">

				<input type="password" placeholder="password*" formControlName="password"
					[class.required-prop]="password.touched && password.errors?.required">
				<div *ngIf="password.touched && password.invalid && password.errors.passwordValidation"
					class="password-message">
					<h3>Password must contain at least 1:</h3>
					<span [class.alert-success]="password.errors?.passwordValidation?.uppercase"
						[class.alert-danger]="!password.errors?.passwordValidation?.uppercase">
						uppercase charcaters,
					</span>
					<span [class.alert-success]="password.errors?.passwordValidation?.lowercase"
						[class.alert-danger]="!password.errors?.passwordValidation?.lowercase">
						lowercase charcaters,
					</span>
					<span [class.alert-success]="password.errors?.passwordValidation?.specialCharcaters"
						[class.alert-danger]="!password.errors?.passwordValidation?.specialCharcaters">
						special charcaters and
					</span>
					<span [class.alert-success]="password.errors?.passwordValidation?.minimum8char"
						[class.alert-danger]="!password.errors?.passwordValidation?.minimum8char">
						minimum 8 characters
					</span>
				</div>

				<input type="password" placeholder="re-enter Password*" formControlName="repass"
					[class.required-prop]="repass.touched && repass.errors?.required">
				<span *ngIf="repass.touched && form.invalid && form.errors?.passwordShouldMatch" class="alert-message">
					Passwords did not match. Please try again.
				</span>

				<button id="createSignUp" [disabled]="form.invalid" [class.disabld]="form.invalid">Sign Up</button>
			</form>
		</div>

		<!-- Sign Up form -->
		<div class="form-container sign-in-container">
			<form (submit)="login()" [formGroup]="signInForm" ngNativeValidate>
				<div *ngIf='accountCreated!=null && accountCreated' class="contact-insta">
					<label  class="text-success">
						Account is created. Please DM Gautam
						<strong>
							<a href="https://www.instagram.com/it_eej_gtm/" target="_blank">
								@it_eej_gtm
							</a>
						</strong>
						here to get your details filled.
					</label>
				</div>
				<label *ngIf='accountCreated!=null && !accountCreated' class="alert alert-danger">
					Could not Create the Account
				</label>
				<h1>Log In</h1>
				<!-- <div class="social-container">
					<a href="#" class="social"><i class="fa fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fa fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fa fa-linkedin-in"></i></a>
				</div> -->
				<input type="text" placeholder="email or username*" formControlName="sUsername"
					[class.required-prop]="(sUsername.touched && sUsername.errors?.required)">
				<input type="password" placeholder="password*" formControlName="sPassword"
					[class.required-prop]="(sPassword.touched && sPassword.errors?.required)">
				<label *ngIf='invalidDetails' class="alert alert-danger">
					Invalid Details. Please try again
				</label>
				<!-- <a href="#">Forgot your password?</a> -->
				<button [class.disabld]="signInForm.invalid" [disabled]="signInForm.invalid">Sign In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Already a Member?</h1>
					<p>Click here to</p>
					<button class="ghost" id="signIn">Log In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>New Here?</h1>
					<p>Click here to</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>

	<footer class="copyright">
		<p>&copy; 2020 Gautam Singh Negi</p>
	</footer>

</div>