<div class="pnd">
    <div class="isd">
    <div class="error-message">
        <div class="error-text">
            <p>Oops! Seems like your details haven't been added</p>
            <p>Please DM Gautam
                <strong>
                    <a href="https://www.instagram.com/it_eej_gtm/" target="_blank">
                        @it_eej_gtm
                    </a>
                </strong> or send 
                <strong>
                    <a href="mailto:gautamsnegi27@gmail.com?body={{mailbody}}" target="_blank">
                        email
                    </a>
                </strong>
                to get your details filled
            </p>
        </div>
        <div class="error-messagge">
            <p>Or Let's get you <a href="/" (click)="removeToken()"><b>Back To Home</b></a></p>
            
        </div>
    </div>
</div>
</div>