<div class="gautam" id="gautam">
    <header>
        <div class="menu-toggler">
            <div class="bar half start"></div>
            <div class="bar"></div>
            <div class="bar half end"></div>
        </div>
        <nav class="top-nav">
            <ul class="nav-list">
                <li>
                    <!-- <a *ngIf="owner" class="nav-link" [routerLink]="['/fill/details', 
                        userDetailsModel.authDetailModel.userName]">Profile
                    </a> -->
                    <a class="nav-link" (click)="scroll('services')">Services</a>
                    <a class="nav-link" (click)="scroll('portfolio')">Portfolio</a>
                    <a class="nav-link" (click)="scroll('experience')">Experience</a>
                    <a class="nav-link" (click)="scroll('contact')">Contact</a>
                    <a *ngIf="owner" class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="about" id="about" *ngIf="userDetailsModel!=null && userDetailsModel.description!=null">
        <div class="container">
            <div class="profile-img" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/images/gsn1.JPEG" alt="test">
            </div>
            <div class="about-details" data-aos="fade-left" data-aos-delay="200">
                <div class="about-heading">
                    <h1>{{userDetailsModel.authDetailModel.firstName}} {{userDetailsModel.authDetailModel.lastName}}</h1>
                    <!-- <h6>{{userDetailsModel.authDetailModel.firstName}} {{userDetailsModel.authDetailModel.lastName}}</h6> -->
                </div>
                <p>
                    {{userDetailsModel.description}}
                </p>
            </div>
        </div>
    </section>

    <section class="services" id="services" *ngIf="userDetailsModel!=null && userDetailsModel.serviceDetailModels!=null">
        <div class="container">
            <div class="section-heading">
                <h1>Services</h1>
                <h6>What can I do for you</h6>
            </div>
            <div class="my-skills">
                <div *ngFor="let service of userDetailsModel.serviceDetailModels; let i=index">
                    <div class="skill" data-aos="fade-right" [attr.data-aos-delay]="200*(i+1)">
                        <div class="icon-container">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <h1>{{service.serviceName}}</h1>
                        <p>
                            {{service.serviceDescription}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio" id="portfolio" *ngIf="userDetailsModel!=null && userDetailsModel.projectModels!=null">
        <div class="container">
            <div class="section-heading">
                <h1>Portfolio</h1>
                <h6>View my recent work</h6>
            </div>
            <div *ngFor="let project of userDetailsModel.projectModels; let p=index; let even = even; let odd = odd">
                <div class="portfolio-item" *ngIf="odd">
                    <div class="portfolio-img has-margin-left" data-aos="fade-right" data-aos-delay="100">
                        <img [src]="project.projectImage" alt="could not load picture">
                    </div>
                    <div class="portfolio-description" data-aos="fade-left" data-aos-delay="100">
                        <!-- <h6>Web Development</h6> -->
                        <h1>{{project.projectName}}</h1>
                        <p>{{project.projectDescription}}</p>
                        <a [href]="project.projectLink" target="_blank" class="cta">View Details</a>
                    </div>
                </div>
                <div class="portfolio-item" *ngIf="even">
                    <div class="portfolio-description" data-aos="fade-right" data-aos-delay="100">
                        <!-- <h6>Web Design</h6> -->
                        <h1>{{project.projectName}}</h1>
                        <p>{{project.projectDescription}}</p>
                        <a [href]="project.projectLink" target="_blank" class="cta">View Details</a>
                    </div>
                    <div class="portfolio-img" data-aos="fade-left" data-aos-delay="100">
                        <img [src]="project.projectImage" alt="could not load picture">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="experience" id="experience" *ngIf="userDetailsModel!=null && userDetailsModel.experienceDetailModels!=null">
        <div class="container">
            <div class="section-heading">
                <h1>Work Experience</h1>
                <h6>Past and current jobs</h6>
            </div>
            <div class="timeline" data-aos="fade-down" data-aos-delay="100">
                <ul *ngFor="let experience of userDetailsModel.experienceDetailModels; let e=index">
                    <li class="date" attr.data-date="{{dates[e]}}">
                        <h1>{{experience.companyName}}</h1>
                        <p>
                            {{experience.jobDescription}}
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="contact" id="contact" *ngIf = "userDetailsModel!=null && userDetailsModel.socialMediaDetailsModel!=null">
        <div class="container" data-aos="fade-up" data-aos-delay="200">
            <div class="section-heading">
                <h1>Contact</h1>
                <h6>Let's work together</h6>
            </div>
            <div class="social-media">
                <ul class="nav-list">
                    <li *ngIf="userDetailsModel!=null && userDetailsModel.socialMediaDetailsModel.linkedinUrl!=null">
                        <a [href]="userDetailsModel.socialMediaDetailsModel.linkedinUrl" target="_blank"
                            class="icon-link">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                    </li>
                    <li *ngIf="userDetailsModel.socialMediaDetailsModel.fbUrl!=null">
                        <a [href]="userDetailsModel.socialMediaDetailsModel.fbUrl" target="_blank" class="icon-link">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li *ngIf="userDetailsModel.socialMediaDetailsModel.instaUrl!=null">
                        <a [href]="userDetailsModel.socialMediaDetailsModel.instaUrl" target="_blank" class="icon-link">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <footer class="copyright">
        <div class="up" id="up">
            <i class="fa fa-chevron-up"></i>
        </div>
        <p>&copy; 2020 Gautam Singh Negi</p>
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</div>