<div class="gautam">
<section class="contact" id="contact">
    <div class="container">
        <form [formGroup]>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your name..." required>
            <input type="text" id="name" name="name" placeholder="Enter your name..." required>
            <input type="text" id="name" name="name" placeholder="Enter your name..." required>
            <label for="email">Email:</label>
            
            <label for="services">Services:</label>
            <select name="services" id="services" required>
                <option value="">Backend Development</option>
                <option value="">Frontend Development</option>
                <option value="">Fullstack Development</option>
            </select>
            <label for="subject">Subject:</label>
            <textarea name="subject" id="subject" cols="10" rows="10"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</section>
</div>